* Указываем box sizing */ *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.brit.lex {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
}
.btit {
  color: rgba(0, 0, 0, 1);
}
.lex {
  color: rgba(147, 147, 147, 1);
}
.headers-a {
  color: rgba(38, 50, 56, 1);

  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.btn-talk {
  box-sizing: border-box;
  border: 2px solid rgba(38, 50, 56, 1);
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);

  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding: 15px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-header {
  display: flex;
  gap: 30px;
}
/* hero */
.h2-hero {
  color: rgba(0, 0, 0, 1);

  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
  width: 386px;
  height: 240px;
}
.txt-hero {
  color: rgba(143, 149, 165, 1);

  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  width: 420px;
}
.btn-started {
  border-radius: 15px;
  background: rgba(38, 50, 56, 1);

  color: rgba(255, 255, 255, 1);

  font-family: Poppins;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
  padding: 32px 117px 32px 117px;
}
.img-girl {
  width: 661px;
  height: 661px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.hero-title {
  display: flex;
  align-items: center;
}
.img-light {
  width: 85.24px;
  height: 85.24px;
}
.list-hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* skils */
.skils-txt {
  color: rgba(0, 0, 0, 1);

  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}
.h3-skils {
  color: rgba(38, 50, 56, 1);

  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}
.p-skils {
  color: rgba(143, 149, 165, 1);

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 374px;
}
.btn-skils {
  border-radius: 5px;
  background: rgba(38, 50, 56, 1);

  color: rgba(255, 255, 255, 1);

  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding: 15px 51px 15px 51px;
  /* margin-top: 60px; */
}
.learn {
  margin-top: 60px;
}
.skils-content-item {
  border-radius: 10px;
  background: rgba(245, 245, 245, 1);
}
.writing {
  width: 434px;
  height: 531px;
}
.reading {
  width: 435px;
  height: 532px;
}

.listening {
  width: 920px;
  height: 343px;
}
.content-of-skils-list {
  width: 435px;
  /* height: 894px; */
  border-radius: 10px;
  background: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.first {
  margin-top: 20px;
  margin-bottom: 20px;
}
.skils-content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  margin-left: 25px;
  margin-right: 25px;
}
.writing {
  margin-bottom: 25px;
}
.listening {
  display: flex;
  flex-direction: row;
}
.img-listening {
  width: 382px;
  height: 255px;
}
.skils-content {
  display: flex;
}
.skils-container {
  display: flex;
}
/* about us */
.h2-us {
  color: rgba(0, 0, 0, 1);

  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}
.p-us {
  color: rgba(143, 149, 165, 1);

  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  width: 500px;
  /* height: 240px; */
}
.theNumber {
  color: rgba(42, 50, 70, 1);

  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}
.txtOfNumber {
  color: rgba(143, 149, 165, 1);

  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.list-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.span-uss {
  display: flex;
  gap: 50px;
}
.us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.us {
  margin-top: 150px;
}
/* pricing */
.h2-pricing {
  color: rgba(38, 50, 56, 1);

  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.p-pricing {
  color: rgba(143, 149, 165, 1);

  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  width: 374px;
  margin-bottom: 20px;
}
.h3-price {
  color: rgba(38, 50, 56, 1);

  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: left;
}
.per-month {
  color: rgba(84, 98, 105, 1);

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* padding: 30px; */
  border-radius: 10px;
  background: rgba(245, 245, 245, 1);
}

.pricing-h2 {
  color: rgba(0, 0, 0, 1);

  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}
.pricing-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 50px;
}
/*Contact us  */
.h2-contact {
  color: rgba(0, 0, 0, 1);

  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}
.txt-contact {
  color: rgba(143, 149, 165, 1);

  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  width: 776px;
}
.input-contact {
  box-sizing: border-box;
  border: 1px solid rgba(143, 149, 165, 1);
  border-radius: 10px;
  width: 450px;

  color: rgba(143, 149, 165, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 23px 16px 23px;
}
.btn-contact {
  border-radius: 10px;
  background: rgba(38, 50, 56, 1);
  padding: 15px 20px 15px 20px;

  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.list-contact {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 30px;
}
/* footer */
.footer-txt {
  color: rgba(143, 149, 165, 1);

  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.footer-item:not(:last-child) {
  margin-right: 750px;
}
.footer {
  margin-top: 130px;
  background: rgba(196, 196, 196, 1);
  height: 1px;
}
.footer-container {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* modal */
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 300px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 16px;
  z-index: 100;
}
.modal-content {
  margin-top: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;

  color: rgba(38, 50, 56, 1);
  display: flex;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}
.modal-input {
  box-sizing: border-box;
  border: 2px solid rgba(38, 50, 56, 1);
  border-radius: 5px;
  padding: 15px;
}
.modal-h2 {
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;

  color: rgba(0, 0, 0, 1);
}
