body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
.for-bg {
  background-color: white;
  width: 79%;
}
h1 {
  margin-top: 20px;
  font-size: 24px;
}

.choices {
  margin-top: 40px;
}

.choice {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.choice:hover {
  transform: scale(1.1);
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}

.score {
  margin-top: 30px;
  font-size: 18px;
}

.score p {
  margin: 5px;
}

.btn-computer {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-computer:hover {
  background-color: #0056b3;
}

/* калькулятор */

.block1 {
  display: flex;
}

.block2 {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.calculator {
  position: relative;
}

/* калькулятор часу */
.centers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs-container {
  display: flex;
  align-items: center;
  background: #ddd;
  border-radius: 30px;
  padding: 5px;
  width: 15%;
}
input {
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 150px;
}
.search-btn {
  background: black;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
}
.search-btn img {
  width: 16px;
  height: 16px;
}
.output {
  margin-top: 10px;
  font-size: 18px;
}
